@model MyMovies.Models.Movie

@{ ViewBag.Title = "Details"; }

<div class="container" style="text-align:center">

    <h1>@Model.Title</h1>

    <img src="@Model.ImgUrl" alt="Alternate Text" style="display:block; margin-left:auto; margin-right:auto; width:80%" />

    <h2> Stars</h2>
    <p>@Model.Stars</p>

    <h2> Genre</h2>
    <p>@Model.Genre</p>

    <h2> Storyline</h2>
    <p>@Model.Storyline</p>
</div>
