@model MyMovies.ViewModels.MovieDetailsModel

@{ ViewBag.Title = "Details"; }

<div class="container" style="text-align:center">

    <h1>@Model.Title</h1>

    <img src="@Model.ImgUrl" alt="Alternate Text" style="display:block; margin-left:auto; margin-right:auto; width:80%" />

    <h2> Stars</h2>
    <p>@Model.Stars</p>

    <h2> Genre</h2>
    <p>@Model.Genre</p>

    <h2> Storyline</h2>
    <p>@Model.Storyline</p>

    <h2> Date created: @Model.DateCreated</h2>
</div>

<br />
<br />
<hr />
<h2>Comments: </h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Comments" asp-action="Add" method="post" onsubmit="return validateForm()">
        <input type="text" name="movieId" value="@Model.Id" hidden />
        <div class="form-group">
            <textarea type="text" name="comment" class="form-control" cols="20" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
}



@foreach (var comment in Model.Comments.OrderByDescending(x => x.DateCreated))
{
    <hr />

    <p> <b>Comennted by:</b>  @comment.Username</p>
    <p> <b>Date:</b>  @comment.DateCreated </p>
    <p> @comment.Message</p>
}

@section Scripts{
    <script src="~/js/validator.js"></script>
} 