@model MyMovies.Models.Movie

<h1>@Model.Title</h1>

<img src="@Model.ImgUrl" alt="Alternate Text" />

<h2> Stars</h2>
<p>@Model.Stars</p>

<h2> Genre</h2>
<p>@Model.Genre</p>

<h2> Storyline</h2>
<p>@Model.Storyline</p>