@model MyMovies.ViewModels.MovieSidebarDataModel


<h2>Top recipes:</h2>
@foreach (var movie in Model.TopMovies)
{
<a asp-controller="Recipes" asp-action="Details" asp-route-id="@movie.Id">
    <div class="recipeSidebarCard">
        <div>@movie.Title</div>
        <div>Date created: @movie.DateCreated</div>
        <div>Views: @movie.Views</div>
    </div>
</a>}

<h2>Most recent recipes:</h2>
@foreach (var movie in Model.MostRecentMovies)
{
<a asp-controller="Recipes" asp-action="Details" asp-route-id="@movie.Id">
    <div class="recipeSidebarCard">
        <div>@movie.Title</div>
        <div>Date created: @movie.DateCreated</div>
        <div>Views: @movie.Views</div>
    </div>
</a>}